<div class="main-content-products flexed-item big-container">

  {{!-- PRODUCTS--}}
  <section class="products-wrapper">
    <div class="products-grid flexed-item flexcolumn">
      {{#each request}}
      {{!-- <a href="/rentbike/{{this._id}}" class="product-item-wrapper"> --}}
      <p class="product-name">{{this.firstname}}</p>
      <br>
      <p class="product-name">{{this.lastname}}</p><br>
      <p class="product-cat">Requested Date: {{this.date}}</p><br>
      <p class="product-price">Phone Number{{this.phonenumber}}</p><br>
      <p>Message by the requester {{this.message}}</p>
      {{!-- </a> --}}
      {{!-- <div class="flexed-item">
        <a href="/edit/{{this._id}}" class="button-primary a-link">Update Item</a>
      </div>
      <div class="flexed-item">
        <a href="/delete/{{this._id}}" class="button-primary a-link">Delete Item</a>
      </div> --}}

      <br><br><br>
      {{/each}}
    </div>
  </section>
</div>